In [2]:
import pandas as pd

In [20]:
df=pd.read_excel("C:/Users/Ruchita/Desktop/MEng_ECE/Fall 23/Creative applications of NLP/Project/Github/TalkMaster/Data/logs/Winter23_logs.xlsx").drop(0)
df['Sent staff to room?']=df['Sent staff to room?'].fillna('0')
df['Requires further investigation to resolve?']=df['Requires further investigation to resolve?'].fillna('0')
df=df.drop(['Time','Outcome'], axis=1)
df['Description of problem']=df['Description of problem'].str.lower()
df.head()

,Received from:,Description of problem,Requires further investigation to resolve?,Sent staff to room?
1,OI 8170,jr. station enable request from kyle,0,0
2,BA 1180,wanted to know if his log in would work. it did.,0,0
3,UC 85,log in request,0,0
4,BA 1170,accident,0,0
5,ES 4001,mike showing prof how intercom works,0,0

In [21]:
patterns =[ r'accident', r'mistake', r'no response', r'false alarm', r'duty']
for pattern in patterns:
    condition = df['Description of problem'].str.contains(pattern, regex=True) & ~df['Description of problem'].isna()
    df = df[~condition]

In [22]:
df = df.dropna(subset=['Description of problem'])

In [23]:
df.describe()

,Received from:,Description of problem,Requires further investigation to resolve?,Sent staff to room?
count,4424,4442,4442,4442
unique,340,3062,5,3
top,MR 6,login,0,0
freq,70,126,4069,3114

In [24]:
df.to_csv("C:/Users/Ruchita/Desktop/MEng_ECE/Fall 23/Creative applications of NLP/Project/Github/TalkMaster/Data/logs/cleaned_winter_data.csv", index=False)